.imageItems {
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.imgSlider {
  width: 100%;
  height: 60vh;       /* ارتفاع مناسب للسلايدر */
  object-fit: cover;  /* يخلي الصورة تملى المساحة من غير ما تتشوه */
  display: block;
  border-radius: 8px; /* اختياري - عشان شكل ألطف */
}
.products {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px;
  padding: 20px;
}



